-r requirements/prod.txt
Flask-SSLify==0.1.4
gunicorn==18.0
psycopg2==2.5.1
alembic==0.7.5.post2
beautifulsoup==3.2.1
bleach==1.4.1
ccy==0.6.1
colorama==0.3.3
coverage==4.0a5
decorator==3.4.0
flask==0.10.1
forgerypy==0.1
gensim==0.10.3
httpie==0.9.2
ipython==3.1.0
itsdangerous==0.24
matplotlib==1.4.3
networkx==1.9.1
nltk==3.0.1
numpy==1.9.1
pygments==2.0.2
pyparsing==2.0.3
python-dateutil==2.4.1
pytz==2014.10
requests==2.6.0
scikit-learn==0.16b1
scipy==0.15.1
selenium==2.45.0
six==1.9.0
virtualenv==12.0.7
werkzeug==0.10.1
wtforms==2.0.2
